<% layout("/layouts/boilerplate") %>
<body>
  <style>
    #filters {
      display: flex;
      overflow-x: scroll;
      align-items: center;
    }
    #filters::-webkit-scrollbar {
      display: none;
    }
    #filters {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    .filter {
      text-align: center;
      margin-right: 2rem;
      margin-top: 2rem;
      opacity: 0.8;
    }
    .filter:hover {
      opacity: 1;
      cursor: pointer;
    }
    .filter p {
      font-size: 0.8rem;
    }
    .tax-info {
      display: none;
    }
    .tax-toggle {
      border: 1px solid black;
      border-radius: 1rem;
      height: 3.25rem;
      padding: 1rem;
      margin-left: 2rem;
      display: flex;
      align-items: center;
    }
  </style>
  <div id="filters-main">
    <div id="filters">
      <div class="filter">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-bed"></i></div>
        <p>Room</p>
      </div>

      <div class="filter">
        <div><i class="fa-solid fa-mountain-city"></i></div>
        <p>Iconic Cities</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-mountain"></i></div>
        <p>Mountain</p>
      </div>
      <div class="filter">
        <div><i class="fa-brands fa-fort-awesome"></i></div>
        <p>Castles</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Amazing Pools</p>
      </div>

      <div class="filter">
        <div><i class="fa-solid fa-campground"></i></div>
        <p>Camping</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-cow"></i></div>
        <p>Farm</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-snowflake"></i></div>
        <p>Snow</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-igloo"></i></div>
        <p>Domes</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-water"></i></div>
        <p>Lakes</p>
      </div>
      <div class="tax-toggle">
        <div class="form-check form-switch form-check-reverse">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="flexSwitchCheckDefault"
          />
          <label class="form-check-label" for="flexSwitchCheckDefault"
            >Display total after taxes</label
          >
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1 mt-2">
    <% for(let listing of allListings) { %>
    <a href="/listings/<%= listing._id %>" class="listing-link">
      <div class="card col listing-card">
        <img
          src="<%= listing.image.url %>"
          class="card-img-top"
          alt="listng image"
          style="height: 20rem"
        />
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text">
            <b><%=listing.title %></b>
            <br />
            &#8377; <%= listing.price%> /night
            <i class="tax-info"> &nbsp; +18% GST </i>
          </p>
        </div>
      </div>
    </a>
    <% } %>
  </div>
</body>

<script>
  let taxSwitch = document.getElementById("flexSwitchCheckDefault");
  taxSwitch.addEventListener("click", () => {
    let taxInfo = document.getElementsByClassName("tax-info");
    for (info of taxInfo) {
      if (info.style.display != "inline") {
        info.style.display = "inline";
      } else {
        info.style.display = "none";
      }
    }
  });
</script>